<!-- main.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Contract Addresses</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
    <link rel="icon" href={{url_for('static', filename='img/favicon.png')}}>
    <link rel="apple-touch-icon" href={{url_for('static', filename='img/apple-touch-icon.png')}}>
</head>
<body>
    <div class="App">
        <div class="App-header">
            <div class="centered-container">
                <div class="ant-row ant-row-middle ant-row-space-between" style="margin-left: -16px;margin-right: -16px;row-gap: 32px;">
                    <div class="App-header-text-block ant-col ant-col-lg-25" style="padding-left: 16px; padding-right: 16px;">
                        <div class="Header_title">
                            <h1>Ethereum 스마트 컨트랙트 주소</h1>
                        </div>
                        <div>
                            <p>조사한 Ethereum 스마트 컨트랙트들을 주소별로 정리한 페이지입니다.</p>
                        </div>
                    </div>
                    <div class="ant-col ant-col-lg-9" style="padding-left: 16px; padding-right: 16px;">
                        <div class="Header-img">
                            <img src="{{url_for('static', filename="img/ecosystem-ethereum.avif")}}" alt="product illustration" style="color: transparent; width: 100%; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="App-body">
            <div class="ant-col ant-row-middle centered-container">
                <form id="filters" class="ant-row ant-row-middle centered-container filter-border" method="post">
                    <input type="text" name="keyword" class="p-2" placeholder="Contract name...">
                    
                    <select id="network-filter" name="network" class="p-2">
                        <option value="all" {% if network == "all" %} selected {% endif %}>All</option>
                        <option value="etherscan.io" {% if network == "etherscan.io" %} selected {% endif %}>etherscan.io</option>
                        <option value="bscscan.com" {% if network == "bscscan.com" %} selected {% endif %}>bscscan.com</option>
                        <option value="arbiscan.io" {% if network == "arbiscan.io" %} selected {% endif %}>arbiscan.io</option>
                    </select>

                    <button class="p-2 px-2" id="search-button">Search</button>
                </form>

                <div class="ant-row ant-row-middle centered-container table-border">
                    <div class="ant-table">
                        <table class="wrapper">
                            <colgroup></colgroup>
                            <thead class="ant-table-thead">
                                <tr>
                                    <th class="ant-table-cell">#</th>
                                    <th class="ant-table-cell">Network</th>
                                    <th class="ant-table-cell">Address</th>
                                    <th class="ant-table-cell">Contract_name</th>
                                </tr>
                            </thead>
                            <tbody id="contract-rows">
                                {% for row_number, row in rows_with_number %}
                                <tr class="{{ row['network'] }} {{row['contract_name']|lower}} ant-table-row item">
                                    <td class="ant-table-cell row-number">{{ row_number }}</td>
                                    <td class="ant-table-cell network">{{ row['network'] }}</td>
                                    <td class="ant-table-cell address">{{ row['address'] }}</td>
                                    <td class="ant-table-cell contract-name">{{ row['contract_name'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pagination ant-row ant-row-middle centered-container" style="margin: 12px;">
                <div class="ant-row ant-row-middle centered-container">
                    <form class="ant-row ant-row-middle" method="post">
                        <input type="hidden" name="network" value="{{network}}">
                        <input type="hidden" name="keyword" value="{{keyword}}">
                        <input type="hidden" name="page" value="{{current_page - 1}}">
                        <button {% if current_page == 1 %} disabled {% endif %}><< Prev</button>
                    </form>

                    {% for page in range(1, total_pages + 1) %}
                    <form class="ant-row ant-row-middle" method="post">
                        <input type="hidden" name="network" value="{{network}}">
                        <input type="hidden" name="keyword" value="{{keyword}}">
                        <input type="hidden" name="page" value="{{page}}">
                        <button {% if page == current_page %} class="active" {% elif (page < (current_page - 5)) or (page > (current_page + 5)) %} hidden {% endif %}>{{ page }}</button>
                    </form>
                    {% endfor %}

                    <form class="ant-row ant-row-middle" method="post">
                        <input type="hidden" name="network" value="{{network}}">
                        <input type="hidden" name="keyword" value="{{keyword}}">
                        <input type="hidden" name="page" value="{{current_page + 1}}">
                        <button {% if current_page == total_pages %} disabled {% endif %}>Next >></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
