{% extends "template.html" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Users receiving</h1>
    <p class="mb-4">Please download the result of fuzzing.</p>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Select user</h6>
            <div style="width:20rem">
                <form id="filters" method="post">
                    <div class="form-group">
                        <input type="text" name="userid" class="form-control form-control-user" placeholder="capstonexxx">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-user" id="search-button">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Network</th>
                            <th>Address</th>
                            <th>Contract name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row_number, row in rows_with_number %}
                        <tr class="{{ row['network'] }} {{row['contract_name']|lower}}">
                            <td>{{ row_number }}</td>
                            <td>{{ row['network'] }}</td>
                            <td>{{ row['address'] }}</td>
                            <td>{{ row['contract_name'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->
{% endblock %}
